<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      
      I hold a Master’s Degree in Computer Science from the University of Copenhagen, where I developed a deep interest in high-performance computing, scientific programming, and low-level optimization. My technical focus lies in leveraging C++ and Python for quantitative finance applications, where precision and efficiency are paramount.

    </p>
    <p>
      Professionally, I am a former DevOps Engineer in the Quantitative Research team at Nordea Markets. In this role, I optimized CI/CD pipelines, managed third-party libraries, and ensured seamless operations for both Linux and Windows environments. My work in this fast-paced financial setting sharpened my ability to deliver solutions efficiently and maintain high standards of accuracy under pressure.
    </p>

    <p>
      Beyond the technical realm, I’m an avid sports enthusiast, and my experiences in sports have taught me the values of persistence, discipline, and resilience—qualities that influence my professional mindset and drive my continuous growth.

      If you'd like to discuss opportunities or share interests, feel free to reach out!
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
