<section class="section featured-projects">
  <div class="section__title">Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/paolodelia99/delta-hedging" target="_blank">
          <img src="{{site.baseurl}}/img/featured/rl_hedging_1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/paolodelia99/delta-hedging" target="_blank">Master's Thesis project</a>
        </div>
        <p>Delta Hedging: A Comparative Study Using Machine Learning and Traditional Methods</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/paolodelia99/jaxfin" target="_blank">
          <img src="{{site.baseurl}}/img/featured/jax_xla.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/paolodelia99/jaxfin" target="_blank">jaxfin</a>
        </div>
        <p>Small Quantitative Finance Python library that I developed during my Master’s Thesis. Built using jax a high-performance library for accelerated array
          computing, offering features such as automatic differentiation (AutoGrad), accelerated linear algebra
          (XLA), and just-in-time compilation to GPU/TPU.
        </p>
      </figcaption>
    </div>
  </div>
</section>
